# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/.cache/**

# build
/build/

# IDE
/.idea/
/.vs/
/.vscode/
/python

# macOS
.DS_Store
.AppleDouble

/.cache

/test_results.xml

compose-dev.yaml
